<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sayti nece qiymetlendirirsiz?</h1>
    <form method="POST" action="/rate">
        <label><input type="radio" name="rating" value="1"> 1</label><br>
        <label><input type="radio" name="rating" value="2"> 2</label><br>
        <label><input type="radio" name="rating" value="3"> 3</label><br>
        <label><input type="radio" name="rating" value="4"> 4</label><br>
        <label><input type="radio" name="rating" value="5"> 5</label><br><br>
        <button type="submit">Gonder</button>
    </form>
</body>
</html>