<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Zehmet olmasa, Ad Soyad ve Tarix qeyd edin</h1>
    <form method="POST" action="/greet">
        <input type="text" name="first_name" placheolder="Adiniz" required><br><br>
        <input type="text" name="last_name" placheolder="Soyadiniz" required><br><br>
        <lebel for="birthday">Dogum Gununuz:</lebel>
        <input type="date" name="birthday" id="birthday" required><br><br>
        <button type="submit">Gonder</button>"
</body>
</html>